/* reset */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  list-style: none;

}

/* estilos específicos

body {
  font-family: 'Roboto', sans-serif;
}
*/
:root{

  font-size: clamp(14px,3vw,24px); 
}


header {
  
  justify-content: left;
  padding: 10vw;
  background-color: #212121;
  color: #fff;
  background: linear-gradient(0deg,  #21212100 0%,  #212121 40%);
}


.logo {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}

.logo img {
  width: 20%;
  height: 20%;
  margin-right: 10px;

  font-size: 5vw;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  vertical-align: top;
  width: 50%;
  box-sizing: border-box;
  padding: 0 10px;
  
}

.container img {
  
  max-width: 50vw;
  height: auto;
  width: auto;
  display: block;
  margin: 0 auto;
  
  

}

p {
  color: silver;
  display: flex;
  font-size: 2vw;
  color: silver;
  text-shadow: 0 0 3vw silver;
  
}

nav {
  flex: 1;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
 
}

nav ul li {
  margin-left: 20px;
}


nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}




main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5vw;
}

h2 {
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
  color: silver;
  
  padding-bottom: 10px;
}





img {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 20px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  background-color: #212121;
  color: #fff;
  background: linear-gradient(0deg,  #212121 40%,  #21212100 100%);
}

address {
  flex: 1;
 
 
  
}

address p {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 110px;
  
}

address li {
  font-size: 16px;
  margin-bottom: 5px;
  
 
}

ul {
  display: flex;
  list-style: none;
 
}

ul li {
  margin: 0 10px;
}

ul a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  
  
}

ul a:hover {
  text-decoration: underline;
}


